{% if resume.patents.size > 0 %}
<section>
  <div class="npb">
    <h2 id="patents" class="h3 hr-bottom">
      {{ strings.resume.patents | default:"Patents" }}
      <span class="symbol {{ icons.patents | default:'icon-book' }}"></span>
    </h2>
    {% for patent in resume.patents %}
    <section style="margin-bottom: 1rem;">
      <header typeof="Patent">
        <p style="font-size: 0.95em; font-weight: bold; margin-bottom: 0.1rem;">{{ patent.title }}</p>
        {% if patent.author %}
          <p class="faded" style="margin-bottom: 0; font-size: 0.85em;">
            - Author: {{ patent.author }}
          </p>
        {% endif %}
        {% if patent.publishedDate %}
          <p class="faded" style="margin-bottom: 0; font-size: 0.85em;">
            - Published Date: {{ patent.publishedDate }}
          </p>
        {% endif %}
      </header>
    </section>
    {% endfor %}
  </div>
</section>
{% endif %}
