{% if resume.volunteer.size > 0 %}
<section>
  <div class="npb">
    <h2 id="volunteer" class="h3 hr-bottom">
      {{ strings.resume.volunteer | default:"Volunteer" }}
      <span class="symbol {{ icons.volunteer | default:'icon-earth' }}"></span>
    </h2>
    {% for vol in resume.volunteer %}
    <section style="margin-bottom: 1rem;">
      <header>
        <p style="font-size: 0.95em; font-weight: bold; margin-bottom: 0.1rem;">{{ vol.title }}</p>
        <p class="faded" style="margin-bottom: 0; font-size: 0.85em;">
          - {{ vol.position }} at {{ vol.organization }}
        </p>
        {% if vol.link %}
          <p class="faded" style="margin-bottom: 0; font-size: 0.85em;">
            - <a href="{{ vol.link }}" target="_blank" rel="noopener noreferrer">Link</a>
          </p>
        {% endif %}
      </header>
    </section>
    {% endfor %}
  </div>
</section>
{% endif %}